# -*- mode: sh -*-
# ----------------------------------------------------------------------------
# I'm _really_ lazy on the comnmand line.
# ----------------------------------------------------------------------------
alias e=eg    # (e)edit
alias t=tree  # (t)ree
alias v=less  # (v)iew

# ----------------------------------------------------------------------------
# Change default behavior.
# ----------------------------------------------------------------------------
alias ag='ag --hidden'
alias pgcli='pgcli --less-chatty'

# ----------------------------------------------------------------------------
# macOS-specific aliases.
# ----------------------------------------------------------------------------
if [[ "$OSTYPE" == darwin* ]]; then
    alias brewski='brew update && brew upgrade && brew cleanup; brew doctor'
    alias chrome='open -a "Google Chrome"'
    alias firefox='open -a "Firefox"'
    alias safari='open -a "Safari"'
    alias ea='open -a Emacs.app ${@:2}'
    alias vscode='open -a "Visual Studio Code.app ${@:2}"'
    alias ssh-dockervm='screen ~/Library/Containers/com.docker.docker/Data/com.docker.driver.amd64-linux/tty'
fi

# ----------------------------------------------------------------------------
# Emacs
# ----------------------------------------------------------------------------
alias ecg='emacsclient -n'    # (e)macs(c)lient in (g)ui
alias ect='emacsclient -nw'   # (e)macs(c)lient in (t)terminal
alias ev='emacs -q -nw'       # (e)macs (v)anilla in terminal

# ----------------------------------------------------------------------------
# Elixir
# ----------------------------------------------------------------------------
alias remix='mix ecto.drop && mix ecto.create && mix ecto.migrate'

# ----------------------------------------------------------------------------
# Python
# ----------------------------------------------------------------------------
alias pycnuke="/usr/bin/find . -name '*py[co]' -exec /bin/rm -f {} ';';/usr/bin/find . -name '__pycache__' -exec /bin/rm -rf {} ';'"

# ----------------------------------------------------------------------------
# Virtualbox
# ----------------------------------------------------------------------------
alias vboxfullstop="vboxmanage list runningvms | sed -r 's/.*\{(.*)\}/\1/' | xargs -L1 -I {} VBoxManage controlvm {} savestate"

# ----------------------------------------------------------------------------
# Git
# ----------------------------------------------------------------------------
# Convenience alias to init a new git repository with initial content.
alias gitiac='git init && git add . && git commit -m "Initial commit."'

# ----------------------------------------------------------------------------
# Docker
# ----------------------------------------------------------------------------
alias dockme_rm_stopped='docker rm -v $(docker ps -a -q --f status=exited)'
alias dockme_rmi_dangling='docker rmi $(docker images -q --f dangling=true)'
# Sen is a cool docker tui.  See https://github.com/TomasTomecek/sen for more.
alias sen='docker run -v /var/run/docker.sock:/run/docker.sock -ti -e TERM tomastomecek/sen'

# ----------------------------------------------------------------------------
# PostgreSQL
# ----------------------------------------------------------------------------
alias pgpid='lsof -n -iTCP:5432|grep -i listen'
