# -*- mode: sh -*-
# ----------------------------------------------------------------------------
# I'm _really_ lazy on the comnmand line!
# ----------------------------------------------------------------------------
alias bm=bookmark
alias e='emacsclient -n' # (e)dit
alias ep=emacspro
alias t=tree             # (t)ree
alias v=less             # (v)iew
alias l='ls -1'          # (l)ist
alias la='ls -a1'        # (l)ist (a)ll
alias ll='ls -l'         # (l)ong (l)list
alias lla='ls -al'       # (l)ong (l)list (a)ll
alias paths="echo $PATH|tr ':' '\n'"
alias now="date +%s"
alias nowiso="date -u +'%Y-%m-%dT%H:%M:%SZ'"
alias dea='direnv allow'

# ----------------------------------------------------------------------------
# ag (a.k.a The Silver Searcher) configuration.
# ----------------------------------------------------------------------------
alias ag='ag --hidden'

# ----------------------------------------------------------------------------
# AWS
# ----------------------------------------------------------------------------
alias awsenv='env | grep ^AWS_ | sort'
alias awsprofiles='grep profile ~/.aws/config'
alias awssecrets="aws secretsmanager list-secrets| jq -r '.SecretList[].Name'|sort"
alias awswhoami="PAGER=cat aws sts get-caller-identity | jq ."

# ----------------------------------------------------------------------------
# Secrets scanning
# ----------------------------------------------------------------------------
alias noseyparker='docker run -v "$PWD":/opt/ ghcr.io/praetorian-inc/noseyparker:latest'

# ----------------------------------------------------------------------------
# Docker
# ----------------------------------------------------------------------------
alias dr=docker
alias dr_rm_stopped='docker rm -v $(docker ps -a -q --f status=exited)'
alias dr_rmi_dangling='docker rmi $(docker images -q --f dangling=true)'
# Sen is a cool docker tui.  See https://github.com/TomasTomecek/sen for more.
alias sen='docker run -v /var/run/docker.sock:/run/docker.sock -ti -e TERM tomastomecek/sen'
alias dcompose=docker-compose
alias dcup='docker-compose up'
alias dcdown='docker-compose down'

# ----------------------------------------------------------------------------
# Elixir
# ----------------------------------------------------------------------------
alias remix='mix ecto.drop && mix ecto.create && mix ecto.migrate'

# ----------------------------------------------------------------------------
# Git
# ----------------------------------------------------------------------------
alias g=git
# Convenience alias to init a new git repository with initial content.
alias gdunk='git diff | dunk'
alias gitiac='git init && git add . && git commit -m "Initial commit."'
alias gitrep=mgitstatus  # https://github.com/fboender/multi-git-status
alias magit='emacsclient -nw -e "(progn (magit-status) (delete-other-windows))"'

# ----------------------------------------------------------------------------
# Helm and Helmfile
# ----------------------------------------------------------------------------
alias h=helm
alias hclean='helm ls -a --all-namespaces | awk '\''NR > 1 { print  "-n "$2, $1}'\'' | xargs -L1 helm delete'
alias hf=helmfile
alias hfd='helmfile diff'
alias hfa='helmfile apply'
alias hfai='helmfile -i apply'
alias hla='helm ls -a'

# ----------------------------------------------------------------------------
# Kubernetes and Minikube
# ----------------------------------------------------------------------------
alias m=minikube
alias k=kubectl
alias kbb='kubectl run -it --rm --restart=Never busybox --image=busybox sh'
alias kenv='env | grep ^KUBE'
alias kcfg='kubectl get cm,secret'
alias kgapp="kubectl get ing,svc,cert,cm,secret,deploy,daemonset,statefulset,rs,pod,hpa,pdb,pvc"
alias kge="kubectl get sa,cm,secret,pvc,hpa,cronjob,job,svc,deployment,replicaset,statefulset,daemonset,pod,ingress,role,rolebinding"
alias kget="kubectl sa,cm,secret,pvc,hpa,cronjob,job,svc,deployment,replicaset,statefulset,daemonset,pod,ingress,ingressroute,middleware"
alias kgn=kneato
alias kgprom='kubectl get alertmanagers,podmonitors,prometheuses,prometheusrules,servicemonitors,thanosrulers -n monitoring'
alias kping='kubectl cluster-info'
alias ktypes='kubectl api-resources --verbs=list -o name | xargs -n 1 kubectl get -o name'
alias kdump="docker run -it --rm --volume $HOME/.kube:/.kube --volume $HOME/.kube-dump:/.kube-dump docker.io/woozymasta/kube-dump:latest"
alias kdr='kubectl --dry-run=client -o yaml'

#command -v kubecolor >/dev/null 2>&1 && alias kubectl="kubecolor"

# ----------------------------------------------------------------------------
# PostgreSQL
# ----------------------------------------------------------------------------
alias pgcli='pgcli --less-chatty'
alias pgenv='env|grep ^PG'
alias pgpid='lsof -n -iTCP:5432|grep -i listen'

# ----------------------------------------------------------------------------
# Python
# ----------------------------------------------------------------------------
export PATH="$PATH:$HOME/.poetry/bin"

# ----------------------------------------------------------------------------
# Terraform
# ----------------------------------------------------------------------------
alias tf=terraform
alias tfsls='terraform state list | sort'
alias tfclean='rm -rf .terraform .terraform.lock.hcl terraform.tfstate*'

# ----------------------------------------------------------------------------
# Virtualbox
# ----------------------------------------------------------------------------
alias vboxfullstop="vboxmanage list runningvms | sed -r 's/.*\{(.*)\}/\1/' | xargs -L1 -I {} VBoxManage controlvm {} savestate"

# ----------------------------------------------------------------------------
# OS-specific aliases
# ----------------------------------------------------------------------------

if [[ "$OSTYPE" == darwin* ]]; then
    alias o=open
    alias brewski='brew update && brew upgrade && brew upgrade --cask --greedy && brew cleanup; brew doctor'
    alias chrome='open -a "Google Chrome"'
    alias firefox='open -a "Firefox"'
    alias safari='open -a "Safari"'
    alias ea='open -a Emacs.app ${@:2}'
    alias ssh-dockervm='screen ~/Library/Containers/com.docker.docker/Data/com.docker.driver.amd64-linux/tty'
fi

# ----------------------------------------------------------------------------
# miscellaneous aliases
# ----------------------------------------------------------------------------
alias box=devbox

# ----------------------------------------------------------------------------
# structurizr aliases
# ----------------------------------------------------------------------------
alias sl="docker run -it --name structurizr-lite --rm -p  8080:8080 -v $PWD:/usr/local/structurizr structurizr/lite"
