[user]
	name = Allen Gooch
	email = allen.gooch@gmail.com

[core]
	editor = vim
	excludesfile = ~/.gitignore
	pager = diff-so-fancy | less --tabs=4 -RFX

[alias]
	clog = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	log = log --color
	co = checkout
	br = branch
	ci = commit
	st = status
	# Long but worth it, gives you output like:
	# * 4be77ea  Add issue 42. 4 weeks ago by Julien
	lg = log --graph --pretty=format:'%Cred%h%Creset %C(yellow)%d%Creset %s %Cgreen%ar%Creset by %C(yellow)%an%Creset' --abbrev-commit
	# Convenient to see diff in minified files
	dw = diff --color-words
	# Display all branches and last commits on them
	wip = for-each-ref --sort='authordate:iso8601' --format=' %(color:green)%(authordate:relative)%09%(color:white)%(refname:short)' refs/heads
	# Compare two branches for differences in commits between them.
	cmp = log --left-right --graph --cherry-pick --oneline

# Add colors
[color]
	ui = true
	diff = auto

# Avoid messy merge commits with autorebase
[branch]
	autosetuprebase = always

[push]
	default = current

[help]
	autocorrect = 1

[merge]
	keepBackup = false
	tool = p4merge

[mergetool "p4merge"]
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge "\"$PWD/$BASE\"" "\"$PWD/$LOCAL\"" "\"$PWD/$REMOTE\"" "\"$PWD/$MERGED\""
	keepBackup = false
	keepTemporaries = false
	trustExitCode = false

[difftool "p4merge"]
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge "\"$LOCAL\"" "\"$REMOTE\""
	prompt = false

[init]
	templatedir = ~/.git-templates

[rerere]
	enabled = true

[magit]
	hideCampaign = true

[diff "sopsdiffer"]
	textconv = sops -d

[url "ssh://git@bitbucket.org/"]
	insteadOf = https://bitbucket.org
