[user]
	name = Allen Gooch
	email = allen.gooch@gmail.com

[core]
	editor = vim
	excludesfile = ~/.gitignore

[alias]
	clog = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	log = log --color
	co = checkout
	br = branch
	ci = commit
	st = status
	# Long but worth it, gives you output like:
	# * 4be77ea  Add issue 42. 4 weeks ago by Julien
	lg = log --graph --pretty=format:'%Cred%h%Creset %C(yellow)%d%Creset %s %Cgreen%ar%Creset by %C(yellow)%an%Creset' --abbrev-commit
	# Convenient to see diff in minified files
	dw = diff --color-words

# Add colors
[color]
	ui = true
	diff = auto

# Avoid messy merge commits with autorebase
[branch]
	autosetuprebase = always

# Push the current branch by default
[push]
	default = current

# Guess what you really meant
[help]
	autocorrect = 1

# Tell where are the diff from,
# instead of using a and b notation
[diff]
	mnemonicprefix = true

[difftool "p4merge"]
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge "\"$LOCAL\"" "\"$REMOTE\""
	prompt = false

[merge]
	keepBackup = false
	tool = p4merge

[mergetool "p4merge"]
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge "\"$PWD/$BASE\"" "\"$PWD/$LOCAL\"" "\"$PWD/$REMOTE\"" "\"$PWD/$MERGED\""
	keepBackup = false
	keepTemporaries = false
	trustExitCode = false

[init]
	templatedir = ~/.git-templates

[rerere]
	enabled = true
