[user]
	name = Allen Gooch
	email = allen.gooch@gmail.com

[core]
	editor = vim
	excludesfile = ~/.gitignore

[alias]
	clog = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	log = log --color
	co = checkout
	br = branch
	ci = commit
	st = status
	# Long but worth it, gives you output like:
	# * 4be77ea  Add issue 42. 4 weeks ago by Julien
	lg = log --graph --pretty=format:'%Cred%h%Creset %C(yellow)%d%Creset %s %Cgreen%ar%Creset by %C(yellow)%an%Creset' --abbrev-commit
	# Convenient to see diff in minified files
	dw = diff --color-words

# Add colors
[color]
	ui = true
	diff = auto

# Avoid messy merge commits with autorebase
[branch]
	autosetuprebase = always

[push]
	default = current

[help]
	autocorrect = 1

[merge]
	keepBackup = false
	tool = p4merge

[mergetool "p4merge"]
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge "\"$PWD/$BASE\"" "\"$PWD/$LOCAL\"" "\"$PWD/$REMOTE\"" "\"$PWD/$MERGED\""
	keepBackup = false
	keepTemporaries = false
	trustExitCode = false

[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[mergetool "sublimerge"]
	cmd = subl -n --wait \"$REMOTE\" \"$BASE\" \"$LOCAL\" \"$MERGED\" --command \"sublimerge_diff_views\"
	trustExitCode = false

[diff]
	tool = sublimerge
	mnemonicprefix = true

[difftool "sublimerge"]
	cmd = subl -n --wait \"$REMOTE\" \"$LOCAL\" --command \"sublimerge_diff_views {\\\"left_read_only\\\": true, \\\"right_read_only\\\": true}\"

[difftool "p4merge"]
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge "\"$LOCAL\"" "\"$REMOTE\""
	prompt = false

[init]
	templatedir = ~/.git-templates

[rerere]
	enabled = true
[magit]
	hideCampaign = true

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
